$fa-font-path: "../fonts/fontawesome/";

@import "variables";
@import "external/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "external/fontawesome/scss/font-awesome.scss";
@import "mixins";
@import "components";


@font-face {
	font-family: 'webscope';
	src: url('../fonts/webscope.eot');
	src: url('../fonts/webscope.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/webscope.woff') format('woff'),
	     url('../fonts/webscope.ttf') format('truetype'),
	     url('../fonts/webscope.svg#webscope') format('svg');
}


// Base Elements

img{
  max-width: 100%;
  height: auto;
}

.icon-webscope-tag{
  font-family: 'webscope';
  color: #ccc;
  font-size: 20px;
  float: right;
  speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&:before{
  	content: "\e600";
	}
	&:hover{
  	color: #e61873;
  	text-decoration: none;
	}
}
